<div class="animated fadeInDown center-item">
	<% var ct=theme.indexconfig[i]%>
	<% var ctArray=ct.split("--")%>
	<div style="display:flex;margin:0 auto;width:100%;height:23%;">
		<img style="margin-left:10%;width:50px;height:50px;margin-top:10%;" src="<%- ctArray[1]%>">
		<div style="margin-left:10%;font-size:1.2rem;margin-top:12%;"><%- i%></div>	
	</div>
	<div class="desc-item">
		<% if( i == "新手指南" ){%>
		<div class="desc-item-insert">
			<% site.posts.each(function(post){ %>
				<% var categoryCount = 0 %>
				<% var categoryName %>
				<% post.categories.data.forEach(function(c){ %>
					<% categoryCount = categoryCount+1 %>
					<% if(categoryCount==1){categoryName = c.name} %>
				<%})%>
				<% if( i == categoryName ){%>
					<% if (categoryCount == 1){%>
					<span class="mmlink" style="font-size:.9rem;border-bottom: 1px solid rgba(217, 217, 217,1);border-bottom-style:dashed">•<a href="javascript:void(0);" onclick="setCookies('<%- post.path %>')"><%-post.title%></a></span>
					<%}%>		
				<%}%>
			<% });%>
		</div>
		<%}%>
		<% if( i == "常见问题" ){%>
		<div class="desc-item-insert">
			<% site.posts.each(function(post){ %>
				<% var categoryCount = 0 %>
				<% var categoryName %>
				<% post.categories.data.forEach(function(c){ %>
					<% categoryCount = categoryCount+1 %>
					<% if(categoryCount==1){categoryName = c.name} %>
				<%})%>
				<% if( i == categoryName ){%>
					<% if (categoryCount == 1){%>
					<span class="mmlink" style="font-size:.9rem;border-bottom: 1px solid rgba(217, 217, 217,1);border-bottom-style:dashed">•<a href="javascript:void(0);" onclick="setCookies('<%- post.path %>')"><%-post.title%></a></span>
					<%}%>		
				<%}%>
			<% });%>
		</div>
		<%}%>

		<% if( i == "SDK下载" ){%>
		<div class="desc-item-insert2">
			<div class="desc-item-insert2-insert">
			<div style="font-size:.5rem;color:#d4d4d4;margin-left:5%;">平台</div>
			<% site.posts.each(function(post){ %>
				<% var categoryCount = 0 %>
				<% var categoryName %>
				<% var subCategoryName %>
				<% post.categories.data.forEach(function(c){ %>
					<% categoryCount = categoryCount+1 %>
					<% if(categoryCount==1){categoryName = c.name} %>
					<% if(categoryCount==2){subCategoryName = c.name} %>
				<%})%>
				<% if( i == categoryName ){%>
					<% if (categoryCount == 2 && subCategoryName == "平台"){%>
						<span class="mmlink" style="font-size:.9rem;border-bottom: 1px solid rgba(217, 217, 217, 1);border-bottom-style:dashed">•<a href="javascript:void(0);" onclick="setCookies('<%- post.path %>')"><%-post.title%></a></span>
					<%}%>		
				<%}%>
			<%});%>
			</div>
			<div class="desc-item-insert2-insert">
			<div style="font-size:.5rem;color:#d4d4d4;margin-left:5%;">框架</div>
			<% site.posts.each(function(post){ %>
				<% var categoryCount = 0 %>
				<% var categoryName %>
				<% var subCategoryName %>
				<% post.categories.data.forEach(function(c){ %>
					<% categoryCount = categoryCount+1 %>
					<% if(categoryCount==1){categoryName = c.name} %>
					<% if(categoryCount==2){subCategoryName = c.name} %>
				<%})%>
				<% if( i == categoryName ){%>
					<% if (categoryCount == 2 && subCategoryName == "框架"){%>
						<span class="mmlink" style="font-size:.9rem;border-bottom: 1px solid rgba(217, 217, 217, 1);border-bottom-style:dashed">•<a href="javascript:void(0);" onclick="setCookies('<%- post.path %>')"><%-post.title%></a></span>
					<%}%>		
				<%}%>
			<%});%>
			</div>
		</div>
		<%}%>

		<% if( i == "联络文档" ){%>
		<div class="desc-item-insert2">
			<div class="desc-item-insert2-insert">
			<div style="font-size:.5rem;color:#d4d4d4;margin-left:5%;">客户端</div>
			<% site.posts.each(function(post){ %>
				<% var categoryCount = 0 %>
				<% var categoryName %>
				<% var subCategoryName %>
				<% post.categories.data.forEach(function(c){ %>
					<% categoryCount = categoryCount+1 %>
					<% if(categoryCount==1){categoryName = c.name} %>
					<% if(categoryCount==2){subCategoryName = c.name} %>
				<%})%>
				<% if( i == categoryName ){%>
					<% if (categoryCount == 2 && subCategoryName == "客户端"){%>
						<span class="mmlink" style="font-size:.9rem;border-bottom: 1px solid rgba(217, 217, 217, 1);border-bottom-style:dashed">•<a href="javascript:void(0);" onclick="setCookies('<%- post.path %>')"><%-post.title%></a></span>
					<%}%>		
				<%}%>
			<%});%>
			</div>
			<div class="desc-item-insert2-insert">
			<div style="font-size:.5rem;color:#d4d4d4;margin-left:5%;">服务器</div>
			<% site.posts.each(function(post){ %>
				<% var categoryCount = 0 %>
				<% var categoryName %>
				<% var subCategoryName %>
				<% post.categories.data.forEach(function(c){ %>
					<% categoryCount = categoryCount+1 %>
					<% if(categoryCount==1){categoryName = c.name} %>
					<% if(categoryCount==2){subCategoryName = c.name} %>
				<%})%>
				<% if( i == categoryName ){%>
					<% if (categoryCount == 2 && subCategoryName == "服务器"){%>
						<span class="mmlink" style="font-size:.9rem;border-bottom: 1px solid rgba(217, 217, 217, 1);border-bottom-style:dashed">•<a href="javascript:void(0);" onclick="setCookies('<%- post.path %>')"><%-post.title%></a></span>
					<%}%>		
				<%}%>
			<%});%>
			</div>
		</div>
		<%}%>

	</div>		
</div>